<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b65ddb34-5bcf-4dbd-91ae-800082779523/resourcegroups/DM106/providers/Microsoft.Web/sites/WebAppExerciocio3</ResourceId>
    <ResourceGroup>DM106</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://webappexerciocio3.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>webappexerciocio3.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebAppExerciocio3</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WebAppExerciocio3</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:appexercicio2dbserver.database.windows.net,1433;Initial Catalog=WebAppExerciocio3_db;User ID=hanna@appexercicio2dbserver;Password=brtoken@1234" Name="Data Source=tcp:appexercicio2dbserver.database.windows.net,1433;Initial Catalog=WebAppExerciocio3_db;User Id=hanna@appexercicio2dbserver;Password=brtoken@1234" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Exerciocio3.Models.ApplicationDbContext, Exerciocio3" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Exerciocio3Context" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:appexercicio2dbserver.database.windows.net,1433;Initial Catalog=WebAppExerciocio3_db;User ID=hanna@appexercicio2dbserver;Password=brtoken@1234" Name="Data Source=tcp:appexercicio2dbserver.database.windows.net,1433;Initial Catalog=WebAppExerciocio3_db;User Id=hanna@appexercicio2dbserver;Password=brtoken@1234" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Exerciocio3.Models.Exerciocio3Context, Exerciocio3" MigrationConfiguration="Exerciocio3.Migrations.Configuration, Exerciocio3" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Exerciocio3Context-Web.config Connection String">
      <ParameterValue>Data Source=tcp:appexercicio2dbserver.database.windows.net,1433;Initial Catalog=WebAppExerciocio3_db;User Id=hanna@appexercicio2dbserver;Password=brtoken@1234</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:appexercicio2dbserver.database.windows.net,1433;Initial Catalog=WebAppExerciocio3_db;User Id=hanna@appexercicio2dbserver;Password=brtoken@1234</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>